# Binary
/qdoc
/qdoc_bin
/qdoc_bin.exe
/.qdoc_tmp/

# Build artifacts
/dist/
/.vitepress/
/bin/*
!/bin/qdoc.js
*.syso

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

.wrangler/
# Dependencies
vendor/
docs/node_modules/
docs/.vitepress/dist/
docs/.vitepress/cache/

# Test
*.test
*.out
coverage.txt
